.k-filtercell .k-filtercell-operator{margin-left:4px;display:none!important}button.k-button-icon.k-button,button.k-button-icon.k-button.k-primary{background:0 0;color:#1d1f21;padding:0;border:none;margin:0;width:20px;height:20px}button.k-button-icon.k-button.k-primary:hover,button.k-button-icon.k-button:hover{background:0 0;color:#ff007f;padding:0;border:none;margin:0;width:20px;height:20px}button.k-button-icon.k-button.k-grid-edit-command,button.k-button-icon.k-button.k-primary.k-grid-edit-command{background:0 0;padding:0;border:none;margin:0;width:20px;height:20px}button.k-button-icon.k-button.k-grid-save-command,button.k-button-icon.k-button.k-primary.k-grid-save-command{background:0 0;padding:0;border:none;margin:0;width:20px;height:20px;color:#15c377}button.k-button-icon.k-button.k-grid-save-command:hover,button.k-button-icon.k-button.k-primary.k-grid-save-command:hover{background:0 0;padding:0;border:none;margin:0;width:20px;height:20px;color:#33cabb}.container-fluid{position:absolute;padding:0 0 100px 200px;margin:0;background:#f2f2f2}.navbar{height:64px;background:#1d1f21}.sidebar{width:200px;background:#1d1f21;height:100%;position:absolute;left:0}.flex-container{display:flex;flex:1;display:flex;flex-wrap:wrap;padding:10px}button.k-button-icontext.k-button.k-grid-add-command{position:absolute;top:0;border-radius:0;width:100%;z-index:20000;height:100%;left:0;color:#fff!important;background:#ff007f;border:none}.k-grid-pager{padding:0;border-width:1px 0 0;border-color:inherit}.k-state-selected{color:#ff007f;background-color:transparent;border-color:rgba(0,0,0,.1)}.k-pager-numbers .k-link,.k-pager-numbers .k-link:link{color:#444}.k-pager-numbers .k-link.k-state-selected,.k-pager-numbers .k-link:link.k-state-selected{color:#ff007f!important}.k-input.k-textbox,.k-textbox{height:calc(10px + .7em)}.table-section{padding:5px 10px 10px;margin:10px;box-shadow:0 2px 3px rgba(0,0,0,.03);background:#fff;flex:0 0 calc(50% - 20px);-webkit-box-shadow:0 2px 3px rgba(0,0,0,.03)}.table-title{padding-bottom:5px;border-bottom:1px solid rgba(0,0,0,.2);margin-bottom:10px}thead{background:linear-gradient(85deg,#392c70,#6a005b)}.h4,h4{font-size:1.5rem;margin-bottom:-5px;padding:10px 0 0 20px}.k-grid-content td input{max-width:108px}
span[aria-label="Sortable"]:after {
    content: '\e020';
    font-family: WebComponentsIcons;
    color: #ff007f;
    margin-left: 2px;
}

span.k-icon[aria-label="Sortable"]:after {
    content: '';
    font-family: WebComponentsIcons;
    color: #ff007f;
    margin-left: 2px;
}


.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: #ff007f;
}

.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-asc-sm {
    vertical-align: text-top;
    font-size: 15px;
    margin-top: 2px;
    margin-left:0;
}


.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-desc-sm {
    vertical-align: text-top;
    font-size: 15px;
    margin-top: 2px;
    margin-left: 0px;
}
