@import '../../node_modules/@progress/kendo-theme-default/scss/all';
.container {
  display: flex;
  flex: 1;
}

.k-filtercell .k-filtercell-operator {
  margin-left: 4px;
  display: none !important;
}

span.k-i-filter.k-icon {
  display: none;
}
